.user-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-container{
    flex-direction: column;
    gap: 3rem;
}
.error-msg{
    background-color: #d83c3c;
    align-self: center;
    padding: 0 5px;
}