.auth-drawer{
    width: 18rem;
    background-color: #242424;
    padding-top: 2rem;
    
}
.user-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-container{
    flex-direction: column;
    gap: 3rem;
}