/* GENERAL */
.cards-display-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.cards-container{
    margin: 3rem 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
    gap: .5rem;
}

.listed-card{
    width: 10rem;
    height: 15rem;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    img{
        min-width: 2.5rem;
        position: relative;
        max-width: 5rem;
    }
    p{
        margin: 0;
        color:rgb(36, 36, 36);;
        font-size: 10px;
        position: relative;
    }
}

/* CARDS PREVIEW */
.expand-button{
    padding: 0 2rem;
    font-family: "Bangers", system-ui;
    background-color: none;
    color: rgba(182, 60, 38, 0.842) ;
    font-size: 7rem;
    border: none;
    position: absolute;
    text-shadow: 5px 5px 7rem rgb(255, 234, 47);
    border-radius: 40%;
}
.expand-button:hover{
    scale: 1.05;
    text-shadow: 5px 5px 5rem rgb(255, 234, 47);
    transition: all 1s ease-in-out;
}

.faced-down-pokemons{
    background-image: url('../../assets/pokecard-front.png');
    p{
        right: 1.3rem;
        top: 1rem;
        font-weight: 600;
        display: none;
    }
    img{
        top: 1.5rem;
        display: none;
    }
}
.faced-down-pokemons:hover{
    background-image: url('../../assets/pokecard-back.png');
    p, img{
        display: block;
    }
}
.faced-down-berries{
    background-image: url('../../assets/pokecard-front.png');
    img{
        top: 2.5rem;
        display: none;
    }
    p{
        right: 2.3rem;
        top: 23px;
        font-weight: 700;
        display: none;
    }
} 
.faced-down-berries:hover{
    background-image: url('../../assets/berry-card.png');
    p, img{
        display: block;
    }
}

/* ALL CARDS DISPLAY */
.heading{
    padding: 0 2rem;
    font-family: "Bangers", system-ui;
    background-color: none;
    color: rgba(182, 60, 38, 0.842) ;
    font-size: 5rem;
}

.faced-up-berries{
    background-image: url('../../assets/berry-card.png');
    img{
        top: 2.5rem;
    }
    p{
        right: 2.3rem;
        top: 23px;
        font-weight: 700;
    }
}
.faced-up-pokemons{
    background-image: url('../../assets/pokecard-back.png');
    p{
        right: 1.3rem;
        top: 1rem;
        font-weight: 600;
    }
    img{
        top: 1.5rem;
    }
}