/* GENERAL */
.cards-display-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.cards-container{
    margin: 3rem 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    min-height: 60vh;
    gap: .5rem;
}

.listed-card{
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    img{
        position: relative;
    }
    p{
        margin: 0;
        color:rgb(36, 36, 36);
        position: relative;
        font-weight: 700;
    }
}
.size-m{
    width: 10rem;
    height: 15rem;
    img{
        min-width: 2.5rem;
        max-width: 5rem;
    }
    p{
        font-size: 10px;
    }
}
.size-s{
    height: 9rem;
    min-width: 4.5rem;
    img{
        max-width:3rem;
    }
    p{
        font-size: 6px;
    }
}
/* CARDS PREVIEW */
.expand-button{
    padding: 0 2rem;
    font-family: "Bangers", system-ui;
    background-color: none;
    color: rgba(182, 60, 38, 0.842) ;
    font-size: 7rem;
    border: none;
    position: absolute;
    text-shadow: 5px 5px 7rem rgb(255, 234, 47);
    border-radius: 40%;
}

.expand-button:hover{
    scale: 1.05;
    text-shadow: 5px 5px 5rem rgb(255, 234, 47);
    transition: all 1s ease-in-out;
}

.faced-down-pokemon{
    background-image: url('../../assets/pokecard-front.png');
    p{
        right: 1.3rem;
        top: 1rem;
        display: none;
    }
    img{
        top: 1.5rem;
        display: none;
    }
}
.faced-down-pokemon:hover{
    background-image: url('../../assets/pokecard-back.png');
    p, img{
        display: block;
    }
}
.faced-down-berry{
    background-image: url('../../assets/pokecard-front.png');
    img{
        top: 2.5rem;
        display: none;
    }
    p{
        right: 2.3rem;
        top: 23px;
        display: none;
    }
} 
.faced-down-berry:hover{
    background-image: url('../../assets/berry-card.png');
    p, img{
        display: block;
    }
}

/* ALL CARDS DISPLAY */
.heading{
    padding: 0 2rem;
    font-family: "Bangers", system-ui;
    background-color: none;
    color: rgba(182, 60, 38, 0.842) ;
    font-size: 5rem;
}


.faced-up-berry-m{
    background-image: url('../../assets/berry-card.png');
    img{
        top: 2.5rem;
    }
    p{
        right: 2.3rem;
        top: 23px;
    }
}
.faced-up-pokemon-m{
    background-image: url('../../assets/pokecard-back.png');
    img{
        top: 1.5rem;
    }
    p{
        right: 1.3rem;
        top: 1rem;
    }
}
.faced-up-berry-s{
    background-image: url('../../assets/berry-card.png');
    img{
        top: 1.5rem;
    }
    p{
        right: 1.5rem;
        top:10px;
    }
}
.faced-up-pokemon-s{
    background-image: url('../../assets/pokecard-back.png');
    img{
        top: 8px;
    }
    p{
        right: 12px;
        top: 6px;
    }
}
/* TABLET - MOBILE */
@media only screen and (max-width: 650px) {
  .size-s{
        height: 6rem;
        img{
            max-width:2rem;
        }
        p{
            font-size: 4px;
        }
    }
    .faced-up-pokemon-s{
        p{
            top: 4px;
        }
    }
    
    
    
}
/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 650px) {
    /* CARDS PREVIEW */
    .expand-button{
        font-size: 6rem;
    }
     .size-m{
        width: 8rem;
        height: 12rem;
        img{
            max-width: 3rem;
        }
        p{
            font-size: 7px;
        }
    }
    .faced-down-pokemon{
        p{
            top: .9rem;
        }
    }
    .faced-down-berry{
        p{
            right: 2.1rem;
            top: 20px;
        }
    }
    /* ALL CARDS DISPLAY - THUMBNAIL CARD */
    .heading{
        font-size: 4rem;
    }
    .faced-up-pokemon-m{
        p{
            right: 1.1rem;
            top: .8rem;
        }
    }
    .faced-up-berry-m{
        p{
            right: 1.7rem;
            top: 1.2rem;
        }
    }
}
/* MOBILE */
@media only screen and (max-width: 480px){
    .expand-button{
        font-size: 3rem;
    }
    .heading{
        font-size: 3rem;
    }
    .size-m{
        width: 5rem;
        height: 7rem;
        img{
            min-width: 1rem;
            max-width: 2.5rem;
        }
        p{
            font-size: 5px;
        }
    }
    .faced-down-pokemon{
        p{
            right: .5rem;
            top: 5px;
        }
        img{
            top: .5rem;
        }
    } 
    .faced-down-berry{
        img{
            top: 1rem;
        }
        p{
            right: 1rem;
            top: .5rem;
        }
    } 
    .cards-container{
        min-height: 50vh;
    }
    /* ALL CARDS DISPLAY - THUMBNAIL CARD */
    .faced-up-pokemon-m{
        img{
            top: 7px;
        }
        p{
            right: 8px;
            top: 4px;
        }
    }
    .faced-up-berry-m{
        img{
            top: 1rem;
        }
        p{
            right: 1rem;
            top: 8px;
        }
    }
}