.checkout-form-container{
    h1{
        margin-bottom: 2rem;
        font-size: 1.5rem;
        color: rgb(168, 168, 206);
        font-weight: 500;
    }
}
.checkout-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
    button{
        font-size: 1rem;
        
    }
}