/* GENERAL */
.card-container{
    width:32rem;
    min-height: 23rem;
    justify-content: space-between;
}
.detail-card{
    width: 18rem;
    height: 22rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: rgb(36, 36, 36);
    p{
        position: relative;
        font-size: 14px;
    }
    img{
        position: relative;
        
        
    }
}
.item-info{
    width: 14rem;
    flex-direction: column;
    gap: 2rem;
    padding-top: 10px;
    svg{
        color: white;
    }
}

/* POKEMON SPECIFIC */
.pokemon{
    background-image: url('../../assets/pokecard-back.png');
    p{
        font-weight: 600;}
    img{
        top:1.5rem;
        min-width: 7rem;
    }
}
.pokemon-name{
    right: 2.5rem;
}
.pokemon-move{
    right: 3.5rem;
    top: 4rem;
}
.energy-item{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    position: relative;
    bottom: 8.1rem;
    left: 6.6rem;
    background-image: url('../../assets/energy-types.png');
    background-size: 385%;
    background-repeat: no-repeat;
}
.fire{
    background-position: 0px 0px;
}
.dragon{
    background-position: 0px -18.5px;
}
.darkness, .dark{
    background-position: 0px -37px;
}
.colorless, .normal{
    background-position: -18.5px 0px;
}
.lightning, .electric{
    background-position: -36.5px -37px;
}
.grass, .bug{
    background-position: -18.5px -37px;
}
.fairy{
    background-position: -36.5px 0px;
}
.fighting, .ground, .rock, .ice{
    background-position: -36.5px -18.5px;
}
.metal{
    background-position: -55px 0px;
}
.psychic, .poison, .ghost{
    background-position: -55px -18.5px;
}
.water{
    background-position: -55px -37px;
}

/* BERRY SPECIFIC */
.berry{
    background-image: url('../../assets/berry-card.png');
    p{
        right: 3.9rem;
        top: 14px;
        font-size: 15px;
        font-weight: 700;
    }
    img{
        top: 3rem;
        min-width: 4rem
    }
}


/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 650px) {
    .card-container{
        width:25rem;
        min-height: 17rem;
    }
    .detail-card{
        width: 15rem;
        height: 17rem;
        p{
            font-size: 12px;
        }
    }
    .pokemon-name{
        right: 1.5rem;
        bottom: 3px;
    }
    .pokemon-move{
        right: 2.8rem;
        top: 3rem;
    }
    .pokemon{
        img{
            top: 1rem;
            min-width: 5rem;
            width: 5rem;
        }
    }
    .energy-item{
        bottom: 6.2rem;
        left: 5rem;
    }
    .berry{
        p{
            right: 2.5rem;
            top: 8px;
            font-size: 12px;
        }
        img{
            min-width: 2rem;
            width: 4rem;
            top: 2rem;
        }
    }
    .item-info{
        width: 10rem;
        gap: 1rem;
    }
}
/* MOBILE */
@media only screen and (max-width: 480px){
    .card-container{
        width:23rem;
        min-height: 20rem;
    }
    .detail-card{
        width: 12rem;
        height: 13rem;
        p{
            font-size: 10px;
        }
    }
    .pokemon-name{
        right: 1.2rem;
        bottom: 4px;
    }
    .pokemon-move{
        right: 2rem;
        top: 3rem;
    }
    .item-info{
        width: 10rem;
        font-size: 14px;
        gap: 1rem;
        Button{
            width: 6rem;
            align-self: center;
        }
        button{
            font-size: 14px;
        }
    }
    .pokemon{
        img{
            top: 8px;
            min-width: 4rem;
            width: 4rem;
        }
    }
    .energy-item{
        display: none;
    }
    .berry{
        p{
            right: 1.8rem;
            top: 4px;
            font-size: 10px;
        }
        img{
            min-width: 2rem;
            width: 3rem;
            top: 1.5rem;
        }
    }
}