.sidebar{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:50vh;
    position: fixed;
    right: .8rem;
    top: 9rem;
}

.floating-btn{
    width: 3rem;
    height: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.26);
    background-color: rgba(52, 97, 194, 0.644) ;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    justify-items: center;
    svg{
        color: rgb(236, 62, 31);
    }
    img{
        width: 1.5rem;
    }
    p{
        position: relative;
        bottom: 3rem;
        left: 1rem;
        color: rgb(236, 62, 31);
        border: 1px solid rgba(255, 255, 255, 0.26);
        background-color: rgba(52, 97, 194, 0.644) ;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
    }
}




/* @media only screen and  (min-width: 480px) and (max-width: 768px) {
    .sidebar{
        position:static;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height:10vh;
        width: 100%;
        margin-top: 1rem;
    }
} */
 /* TABLET - MOBILE */
@media only screen and (max-width: 650px) {
    .sidebar{
        position:static;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height:10vh;
        width: 100%;
        margin-top: 1rem;
    }
}
/* MOBILE */
/* @media only screen and (max-width: 480px){
    .floating-btn {
        width: 2.5rem;
        height: 2.5rem;
        svg{
            width: 1.3rem;
            height: 1.3rem;
        }
         img{
            width: 1rem;
        }
        p{
            bottom: 2.3rem;
            left: 1.2rem;
            font-size: 12px;
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    
} */