.footer{
    height: 2rem;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgb(29, 29, 29);
}