:root {

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}
button{
  cursor: pointer;
}

.blue-btn{
  background-color: rgba(52, 97, 194, 0.486);
  color: white;
}
.red-btn{
  background-color: rgba(182, 60, 38, 0.842);
}

.grayed-out-btn{
    opacity: .3;
    pointer-events: none;
}

.btns-container{
    gap: 1rem;
    align-items: center;
}