.body{
    min-height: 85vh;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.fade-in{
    animation: fadeIn 2s ease;
}
@keyframes fadeIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
/* MOBILE */
@media only screen and (max-width: 480px){
  .body{
    margin: 0 .5rem 1rem .5rem;
    min-height: 75vh;
  }
}