.body{
    min-height: 95vh;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.flex-centered{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fade-in{
    animation: fadeIn 2s ease;
}
@keyframes fadeIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

