.pokedex-container{
    width: 100%;
    height: 70vh;
    background-image: url('../../assets/pokedex.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    p{
        position: relative;
        right: 9.5rem;
        top: 3.2rem;
        rotate: -1deg;
    }
}
#pokedex-filter{
    width: 10rem;
    height: 3rem;
    padding: 5px;
    position: relative;
    left: 8.5rem;
    top: 1rem;
    rotate: -3deg;
    background-color: #242424;
    
}


.carrousel{
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 7.8rem;
    top: .5rem;
    rotate: -2deg;
    color: black;
    gap: .5rem;
}
.img-container{
    width: 7rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img{
        min-width: 3rem;
    }
}
