.pokedex-container{
    width: 100%;
    height: 70vh;
    background-image: url('../../assets/pokedex.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    p{
        position: relative;
        right: 9.5rem;
        top: 3.2rem;
        rotate: -1deg;
    }
}
#pokedex-filter{
    width: 10rem;
    height: 3rem;
    padding: 5px;
    position: relative;
    left: 8.5rem;
    top: 1rem;
    rotate: -3deg;
    background-color: #242424;
    
}


.carrousel{
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 7.8rem;
    top: .5rem;
    rotate: -2deg;
    color: black;
    gap: .5rem;
}
.img-container{
    width: 7rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img{
        min-width: 3rem;
    }
}
/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 650px) {
    .pokedex-container{
        width:25rem;
        p{
            font-size: 14px;
            right: 6.8rem;
            top: 2.2rem;
        }
    }
    #pokedex-filter{
        width: 7.5rem;
        height: 2rem;
        left: 6.2rem;
        font-size: 14px;
    }
    .carrousel{
        right: 5.8rem;
        top: 10px;
    }
    .img-container{
        width: 4.5rem;
        height: 3.5rem;
        img{
            min-width: 2rem;
        }
    }
}
/* MOBILE */
@media only screen and (max-width: 480px){
    .pokedex-container{
        width:20rem;
        p{
            font-size: 12px;
            right: 5.5rem;
            top: 1.8rem;
        }
    }
    #pokedex-filter{
        width: 5.5rem;
        height: 1.5rem;
        left: 5rem;
        top: 1rem;
        font-size: 12px;
        padding: 2px;
    }
    .carrousel{
        right: 4.5rem;
        top: .8rem;
        gap: 2px;
    }
    .img-container{
        width: 3.5rem;
        height: 2.5rem;
        
        img{
            min-width: 1rem;
        }
    }
}